[submodule "ext/linearmath"]
	path = ext/linearmath
	url = https://github.com/nickbhorton/linearmath.git
[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git
